<!DOCTYPE html>
<html>
  <head>
    <title>Webstar</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <div class="header">
        <div class="header-left">
          <img class="company-logo" src="">
        </div>
        <div class="header-right">
          <ul class="header-menu">
            <li>Home</li>
            <li>About</li>
            <li>Service</li>
            <li>Contact</li>
          </ul>
        </div>
      </div>
    </header>
    <%= yield %>
  </body>
</html>
